{{- if .Values.serviceAccount.create -}}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "webapp-chart.serviceAccountName" . }}
  labels:
    {{- include "webapp-chart.labels" . | nindent 4 }}
    {{- if .Values.extraLabels.enabled }}
    {{- range $key, $value := .Values.extraLabels.custom }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
    {{- end }}
  {{- with .Values.serviceAccount.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
automountServiceAccountToken: {{ .Values.serviceAccount.automount }}
{{- end }}
